{% extends "index.html" %}
{% load static %}
{% block hero %}

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
  
          <div>
            <h2>Resume</h2>
            <div class = "text-align:center">
            
          </div>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Personal Details</h3>
              <div class="resume-item pb-0">
                <h4>Renjith R</h4>
                
                <ul>
                  <li>Mobile No:8089553889</li>
                  <li>Email:renjithklm1994@gmail.com</li>
                  
                </ul>
              </div>
  
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Plus-Two</h4>
                <h5>2010 - 2012</h5>
                <p><em>State Board - Kerala</em></p>
                
              </div>
              <div class="resume-item">
                <h4>B-tech</h4>
                <h5>2012 - 2016</h5>
                <p><em>Perumon Engineering College</em></p>
                
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Intern Software Development</h4>
                <h5>From  4th April 2022 to 31st July 2022</h5>
                <p><em>Infopark-Kochi</em></p>
                <ul>
                  <li>Html</li>
                  <li>CSS</li>
                  <li>Bootstrap</li>
                  <li>Angular</li>
                </ul>
              </div>
              
            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section -->
{% endblock hero %}